@font-face {
    font-family: 'Minecraft';
    src: url('C:/Users/natna/Downloads/minecraft/minecraft_font.ttf') format('ttf');
}



h1 {
    font-family: 'Minecraft', sans-serif;
}

body {
    font-family: 'Minecraft', sans-serif;
}